  
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
      #wrapper{

        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 10px;


      }

      #container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        /* both are same */
        height: 100vh;
        width: 100vw;
        /* height: 100%;
        width: 100%; */
        transform-style: preserve-3d;
        z-index: -1;
      }
      /* h1{
       text-decoration: solid;
       text-shadow: 9px 8px 5px  gainsboro;
      } */
      .background,.foreground{
        position: absolute;
      height: 100%;
        width: 100%;
        object-fit: cover; 
         z-index: -1;
      }
      .foreground{
        transform: translateZ(-20px) scale(3);
   }
   .background{
    transform: translateZ(-40px) scale(5);
   }
h1{
  position: absolute;
  top: 5rem;
text-shadow: 0 0 10px rgba(0,0,0,0.3);
  transform: scale(4);
  color: white;
  letter-spacing: 4px;
  font-family: 'Mitr', sans-serif;

  
}

section{
  background-color: rgb(45, 45,45);
  color: white;
  padding:5rem 0;
  position: relative;
}
.secheading{
  font-size: 5rem ;
  padding:0 10rem;
  font-family: 'Mitr', sans-serif;

}

.desc{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 40%;
padding: 0.5rem 2.5rem;
color:black;
font-size: 3.5rem;
font-weight: 600;
/* transform: translateX(50%); */
font-family: 'Mitr', sans-serif;

  
}

.bg{
  width: 100vw;
  height: 500px;

/* 
background image fixed karne ke liye */

  background-attachment: fixed;
  position: relative;


  /* aadmi ko center me lane ke liye */
  background-position: center;
  background-size: cover;
}

.bg1{
  background-image: url(sport-1.jpg);
}
.bg2{
  background-image: url(sport-2.jpg);
}
.bg3{
  background-image: url(sport-3.jpg);
}

   .text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
   }
